{% extends 'person/home.html' %}

{% block content %}

<h2>{{ full_name }}'s Dashboard</h2><br>
    <h3>Posts:</h3>

{% for post in posts %}

    <div>
    <h4>{{ post.title }}</h4>
    <p style="font-size: 14px;">
        {{ post.content }}
    </p>
    <label style="font-size: 12px">Likes: {{ post.likes }}</label>
    </div>
{% endfor %}

        <div style="position: absolute;top: 20px;right: 20px;">
            <form action="/logout/" method="POST">
                {% csrf_token %}
                <input type="submit" value="Log Out">
            </form>
            </div>
            <div style="position: absolute; bottom: 20px; right: 20px;">
            <form action="new-post/" method="POST">
                {% csrf_token %}
                <label>Title: </label><br><input type="text" name="title"><br>
                <label>Content: </label><br><textarea rows="8" cols="50" name="content"></textarea><br>
                <input type="submit" value="Post">
            </form>
            </div>
        </div>

{% endblock %}